.container {
    display: flex;
    position: relative;
    
    top: 100px;

    align-items: center;
    justify-content: center;
}

.background {
    display: flex;
    text-align: center;
    
    top: 50%;
    height: 800px;
    width: 1400px;
    height: 805px;
   
    background-image: url(/static/img/background_dull.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cccccc; /* Used if the image is unavailable */    
}

.map_space {
    display: inline-block;
    position: relative;
    
    width: 1000px;
    height: 794px;

    /* border: 5px solid black; */
}

.map {
    display: inline-block;
    position: relative;

    width: 360px;
    height: 326px;
    margin: 30px 60px;

    border: 5px solid black;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px 222px;
}

.menu_space {
    display: inline-block;
    position: relative;

    width: 400px;
    height: 794px;   

    /* border: 5px solid black; */
}

.profile_space {
    display: flex;
    position: relative;
    
    width: 395px;
    height: 392px;

    border: 5px solid black;
}

.profile {
    display: inline-block;
    position: relative;
    
    width: 200px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px 150px;
}

.attr_space {
    display: inline-block;
    position: relative;
    
    width: 190px;
    height: 184px;

    /* border: 5px solid black; */
}

.medal {
    background-image: url(/static/img/medal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;  
}

.shop {
    background-image: url(/static/img/medal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;  
}

.location {
    display: inline-block;
    position: relative;

    align-items: center;
    justify-content: center;

    /* border: 5px solid black; */
}

.location_image {
    height: 180px;
    margin: 26px 42px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px 222px;
    background-color: #cccccc; /* Used if the image is unavailable */    
}

h1 {
    margin: 40px 10px -20px 10px;
    
    color: red;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;    
}

button {
    background-color: #bcbcbc;
    border-radius: 100px;
    color: black;
    cursor: pointer;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 13px 43px;
    text-align: center;
    margin: 10px 10px;
    transition: all 250ms;
    font-size: 25px;
    touch-action: manipulation;
}

