.container {
    position: relative;
    display: flex;
    align-items: center;
    top: 100px;
    justify-content: center;
}

.background {
    height: 800px;
    top: 50%;
    display: flex;
    text-align: center;
    width: 1400px;
    height: 805px;
   
    background-image: url(/static/img/background_dull.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cccccc; /* Used if the image is unavailable */    
}

.map_space {
    position: relative;
    display: inline-block;
    /* border: 5px solid black; */

    width: 1000px;
    height: 794px;
}

.map {
    position: relative;
    display: inline-block;
    border: 5px solid black;

    width: 360px;
    height: 326px;
    margin: 30px 60px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px 222px;
}

.menu_space {
    position: relative;
    /* border: 5px solid black; */
    display: inline-block;

    width: 400px;
    height: 794px;   
}

.profile_space {
    position: relative;
    display: flex;
    border: 5px solid black;
    width: 395px;
    height: 392px;
}

.profile {
    position: relative;
    display: inline-block;
    width: 200px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px 150px;
}

.attr_space {
    position: relative;
    display: inline-block;
    /* border: 5px solid black; */
    width: 190px;
    height: 184px;
}

.medal {
    background-image: url(/static/img/medal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;  
}

.shop {
    background-image: url(/static/img/medal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;  
}

.location {
    position: relative;
    display: inline-block;
    /* border: 5px solid black; */

    align-items: center;
    justify-content: center;
}

.location_image {
    margin: 26px 42px;
    height: 180px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px 222px;
    background-color: #cccccc; /* Used if the image is unavailable */    
}

h1 {
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    color: red;
    margin: 40px 10px -20px 10px;
}

button {
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    font-size: 30px;
    color: black;
    padding: 10px 10px;
}

