.container {
    position: relative;
    /* border: 3px solid green;  */
}

.background {
    height: 800px;
    top: 50%;
    text-align: center;
   
    background-image: url(/static/img/background_dull.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cccccc; /* Used if the image is unavailable */ 
}

.title {
    position: relative;
    padding: 10px 10px;
}

.instruct {
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding: 10px 10px;
}

h1 {
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    font-size: 50px;
    color: black;
    padding: 10px 10px;
}


