.container {
    position: relative;
    display: flex;
    align-items: center;
    top: 100px;
    justify-content: center;
}

.background {
    display: flex;
    text-align: center; 

    top: 50%;
    width: 1400px;
    height: 800px;

    background-position: center;
    background-repeat: no-repeat;
    background-color: #cccccc; /* Used if the image is unavailable */    
    background-size: 1400px 800px;
}

.char {
    position: relative;
    text-align: center;

    width: 80px;
    height: 80px;
    
    background-image: url(/static/img/elderly.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 80px;  
    
    z-index: 1;
    transition: all 1s ease-in-out;
}

.npc {
    position: relative;
    text-align: center;

    width: 80px;
    height: 80px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 80px;  
}

.mrt {
    position: relative;
    text-align: center;

    width: 80px;
    height: 80px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 80px;  
}