.container {
    position: relative;
    display: flex;
    align-items: center;
    top: 100px;
    justify-content: center;
}

.background {
    height: 800px;
    top: 50%;
    text-align: center;
    width: 1400px;
    height: 805px;
   
    background-image: url(/static/img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cccccc; /* Used if the image is unavailable */    
}

.title {
    position: relative;
}

.button {
    position: relative;
    width: 500px;
    display: inline;
}

h1 {
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    font-size: 80px;
    color: black;
    margin: 215px 10px;
}

button {
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    font-size: 30px;
    color: black;
    padding: 10px 10px;
}

