.container {
    position: relative;
    display: flex;
    align-items: center;
    top: 100px;
    justify-content: center;
}

.background {
    height: 800px;
    top: 50%;
    text-align: center;
    width: 1400px;
    height: 805px;
   
    background-image: url(/static/img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cccccc; /* Used if the image is unavailable */    
}

.question_space {
    display: inline-block;
    position: relative;

    width: 1000px;
    height: 200px;

    /* border: 5px solid black; */
}

.question {
    display: inline-block;
    position: relative;
    width: 360px;
    height: 23px;
    margin: 30px 60px;
    /* border: 5px solid black;*/
}

.region_space {
    display: flex;
    justify-content: center;
    margin: 10px 10px 40px 10px;
    /* border: 5px solid black;*/
}

.location_choice{
    text-align: center;
    font-size: 46px;
    margin: 19px 60px;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    color: solid black;
}

.location_submit{
    margin: 50px 10px;
}

.title {
    position: relative;
}

h1 {
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    font-size: 60px;
    color: black;
    margin: 35px 10px 10px 10px;
}

button {
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    font-size: 30px;
    color: black;
    padding: 10px 10px;
}

input[type=text] {
    background-color: #dddddd;
    text-align: center;
    padding: 12px 12px;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    font-size: 25px;
    width: 400px;
    border-radius: 50px 50px 50px 50px;
    overflow: hidden;
    margin: 20px 10px;
}

input[type=submit] {
    background-color: #bcbcbc;
    border-radius: 100px;
    color: black;
    cursor: pointer;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 13px 43px;
    text-align: center;
    margin: 10px 10px;
    transition: all 250ms;
    font-size: 40px;
    touch-action: manipulation;
}

select {
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    font-size: 19px;
    color: black;
    margin: 10px 10px 40px 10px;
    border-radius: 100px;
    padding: 10px 10px;
    text-align: center;
    touch-action: manipulation;
}

