<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale=1,shrink-to-fit=no">

        <link rel="stylesheet" href="/static/css/game.css">
    </head>
    <body>
        <div class = "container">
            <div class = "background">
                <div class = "map_space">
                    <div class = "map" style = "background-image: url(/static/img/voiddeck.jpg);"></div>
                    <div class = "map" style = "background-image: url(/static/img/wetmarket.jpeg);"></div>
                    <div class = "map" style = "background-image: url(/static/img/park.jpg);"></div>
                    <div class = "map" style = "background-image: url(/static/img/hawker.png);"></div>
                </div>
                <div class = "menu_space">
                    <div class = "profile_space">
                        <div class = "profile" style = "background-image: url(/static/img/elderly.png);"></div>
                        <div class = "profile">
                            <div class = "attr_space medal" style = "background-image: url(/static/img/medal.png);"></div>
                            <div class = "attr_space shop" style = "background-image: url(/static/img/shop.png);"></div>
                        </div>
                    </div>
                    <div class = "profile_space location">
                        <h1> Location </h1>>
                        <div class="location_image" style = "background-image: url(/static/img/hawker.png);"> Image </div>
                        <button> Let's go! </button>
                    </div>
                </div>   
            </div>      
        </div>
    </body>
    <script>
    </script>
</html>