<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale=1,shrink-to-fit=no">

        <link rel="stylesheet" href="/static/css/instruct.css">
    </head>
    <body>
        <div class = "container">
            <div class = "background">
                <div class= "title">
                    <h1> How to Play </h1>
                </div>
                <div class = "instruct">
                    Just anyhow click and click and click and click and click and click and click and click and click and click and click and click and click and click and click and click and click and click and click and click and click and click and click then can already
                </div>
            </div>      
        </div>
    </body>
    <script>
    </script>
</html>