<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale=1,shrink-to-fit=no">

         <!--jQuery-->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/map.css">
    </head>
    <body>
        <div class = "container">
            <div id = "bg" class = "background" onclick = "movechar(event)">
                <div id = "main_char" class = "char"></div>
                <div id = "npc_one" class = "npc" style = "background-image: url(/static/img/NPC_one.png);"></div>
                <div id = "npc_two" class = "npc" style = "background-image: url(/static/img/NPC_two.png);"></div>
                <div id = "npc_three" class = "npc" style = "background-image: url(/static/img/NPC_three.png);"></div>
                <div id = "npc_four" class = "npc" style = "background-image: url(/static/img/NPC_four.png);"></div>
                <div id = "npc_five" class = "npc" style = "background-image: url(/static/img/NPC_five.png);"></div>
                <div id = "station" class = "mrt" style = "background-image: url(/static/img/station.png);"></div>
            </div>
        </div>
    </body>
    <script>       
        $(document).ready(function(){           
            document.getElementById("main_char").style.left = Math.random() * 1200 +  "px";
            document.getElementById("main_char").style.top = Math.random() * 700  + "px";

            document.getElementById("npc_one").style.left = Math.random() * 1100 +  "px";
            document.getElementById("npc_one").style.top = Math.random() * 700 + "px";
            document.getElementById("npc_two").style.left = Math.random() * 1000 +  "px";
            document.getElementById("npc_two").style.top = Math.random() * 700 + "px";
            document.getElementById("npc_three").style.left = Math.random() * 900 +  "px";
            document.getElementById("npc_three").style.top = Math.random() * 700 + "px";
            document.getElementById("npc_four").style.left = Math.random() * 800 +  "px";
            document.getElementById("npc_four").style.top = Math.random() * 700 + "px";
            document.getElementById("npc_five").style.left = Math.random() * 700 +  "px";
            document.getElementById("npc_five").style.top = Math.random() * 700 + "px";

            document.getElementById("station").style.left = Math.random() * 600 +  "px";
            document.getElementById("station").style.top = Math.random() * 600 + "px";
        });
        
        function char_proxy(elem, stat_gap){
            var main_char = document.getElementById("main_char").getBoundingClientRect();
            var proxy = elem.getBoundingClientRect();
            
            // console.log("char: " + main_char.top + ", " + main_char.left + ", comp: " + proxy.top + ", " + proxy.left);

            if (Math.abs(main_char.top - proxy.top) <= stat_gap && Math.abs( main_char.left - proxy.left) <= stat_gap) {
                if (elem == document.getElementById("station")) {
                    console.log("byebye");

                    const linkElem = document.createElement("a");
                    linkElem.href = "GameNew";
                    linkElem.click();
                }
                else {
                    alert(elem.id + " wants to Talk!");
                }
            };
        }

        function movechar(event){
            var x_pos = event.clientX;
            var y_pos = event.clientY;

            window.console.log("x: " + String(x_pos) + ", y: " +  String(y_pos));

            document.getElementById("main_char").style.left = (x_pos - 350) +  "px";
            document.getElementById("main_char").style.top = (y_pos - 150) + "px";

            
            char_proxy(document.getElementById("npc_one"), 200);
            char_proxy(document.getElementById("npc_two"), 200);
            char_proxy(document.getElementById("npc_three"), 200);
            char_proxy(document.getElementById("npc_four"), 200);
            char_proxy(document.getElementById("npc_five"), 200);
            char_proxy(document.getElementById("station"), 20);
        }

       

    </script>
</html>