<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale=1,shrink-to-fit=no">

        <link rel="stylesheet" href="/static/css/start.css">
    </head>
    <body>
        <div class = "container">
            <div class = "background">
                <div class= "title">
                    <h1> Where to Go Today? </h1>
                </div>
                <div class = "button">
                    <a href="Start"><button> Start </button></a>
                    <a href="Instructions"><button> Instructions </button></a>
                    <!-- <a href="Edit"><button> Edit User Details</button></a> -->
                </div>
            </div>      
        </div>
    </body>
    <script>
    </script>
</html>